@font-face {
  font-family: "GothicA1";
  src: local("GothicA1"), url(../fonts/GothicA1-ExtraBold.ttf) format("truetype");
}

// @font-face {
//   font-family: "Gotham";
//   font-weight: 900;
//   src: local("Gotham"), url(../fonts/Gotham-Font/Gotham-Bold.otf) format("opentype");
// }

.header {
  height: 5vh;
}

.main {
  // display: flex;
  justify-content: space-around;
}
